.jumbotron {
	background-image: url(../img/Pvalb,_cerebellum,_ISH.jpg);
	background-size: cover;
	background-position: 50% 50%;
	padding-bottom: 0px;
}

p.attribution {
	font-size: small;
	text-align: right;
	font-weight: bold;
	padding-top: 500px;
	padding-bottom: 0px;
}

.jumbotron h1 {
}

h1.title {;
}
